@media screen and (max-width: 992px) {
  div#navbarNav {
    justify-content: center;
  }

  .lead{
    display: flex;
    flex-direction: column;
    width: 100%;
  } 
  .lead .col-6{
      max-width: 100%;
      margin-top: 10px;
  }
}
*{
    scroll-behavior: smooth;
}
li {
  width: 100px;
}
.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itens div {
  margin-bottom: 15px;
}
body {
  background-color: #d6d8da;
}
div.jumbotron{
    padding-top: 5rem;
}
.collapsed{
    z-index: 1;
}