@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@media screen and (max-width: 1000px) {
  div#navbarNav {
    justify-content: center;
  }

  .lead{
    display: flex;
    flex-direction: column;
    width: 100%;
  } 
  .lead .col-6{
      max-width: 100%;
      margin-top: 10px;
  }

  .botoes {
    padding-left: 10px;
  }
}
@media screen and (max-width:600px){
  .botoes a{
    max-width: 140px;
    font-size: 12pt;
    height: 50px;
    
  }
}
*{
    scroll-behavior: smooth;
}
li {
  width: 100px;
}
.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itens div{
  margin-bottom: 15px;
}
body {
  background-color: #d6d8da;
}
div.jumbotron{
  padding-top: 5rem;
}
.collapsed{
  z-index: 1;
}
.instagram{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
}
.lead h1{
font-family: 'Fredoka One', cursive,sans-serif;
}
.lead{
  font-family: Arial, Helvetica, sans-serif;
}


.uber svg{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.google{
  margin-top: 10px;
}
.botoes{
  width: 100%;
  max-width: 500px;
}
.botoes a{
  margin-top: 10px;
}
.uber{
  background-color: black;
  color: white;
}
.google{
  border: solid black 1px;
  background-color: white;
}
.google:hover{
  background-color: rgb(218, 64, 64);
}
.align{
  text-align: center;
  padding-bottom: 20px;
}
.local{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.local p{
  padding-top: 30px;
  text-align: center;
  padding-right: 20px;
}